nav {
  margin-bottom: 15px;
}

body {
  margin-bottom: 15px !important;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 0px;
  }
}

.table-bordered {
  border: 0px !important;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
div[id^="map"] {
  height: 100%;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

@media (min-width: 576px) {
  .container {
    max-width: initial !important;
  }
}
